/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

html{
    margin: 0 auto;
    text-align: center;
}
body{
    width: 80%;
    /* left: auto;*/
    margin: 0 auto;
}

ol, ul {
  list-style: none;
}


div {
  text-align: center;
    margin: 0 auto;
}

h1,h2,h3{
/*    margin-top: 20px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}